onebusaway-wiki-integration

  We provide a method 
  
  <<Latest Version:>> ${currentVersion}

  Details on all releases can be found in the {{{./release-notes.html}Release Notes}}.
  
  The library is broken up into a few key modules:
  
  * <<<onebusaway-wiki-integration-api>>> - Defines the wiki integration api interfaces 
  
  * <<<onebusaway-wiki-integration-file>>> - A file-based wiki integration plugin 
  
  * <<<onebusaway-wiki-integration-simple>>> - A dummy wiki integration plugin for testing
  
  * <<<onebusaway-wiki-integration-xwiki>>> - Parent module for the XWiki-based modules
  
    * <<<onebusaway-wiki-integration-xwiki-impl>>> - An XWiki-based wiki integration plugin
    
    * <<<onebusaway-wiki-integration-xwiki-struts-macros>>> - XWiki macros for simulating Struts tags with XWiki markup
    
    * <<<onebusaway-wiki-integration-urlnotification-plugin>>> - XWiki plugin that can make a request to a configurable URL every time a wiki page is edited
  

Documentation

  You can access the {{{./apidocs/index.html}latest Javadoc for the library}}.  Also, see example source code below.

Using in Maven

  The library is available as a Maven module.  Simply add the module dependency:

+---+
<dependencies>
    <dependency>
        <groupId>org.onebusaway</groupId>
        <artifactId>onebusaway-wiki-integration-file</artifactId>
        <version>${currentVersion}</version>
    </dependency>
</dependencies>
+---+